*{
    margin : 0;
    padding : 0;
}

ul{
    list-style: none;
    /** list-style : none => li의 점 표시를 없앤다. */
}
body{
    height: 100%;
    overflow : hidden;
}
.score{
    text-align : center;
    font-size : 36px;
    margin-bottom : 2rem;
}
.playground > ul{
    border : 1px solid #333;
    width : 250px;
    margin : 0 auto;
}

.playground > ul > li{
    width : 100%;
    height: 25px;
}

.playground > ul > li > ul{
    display : flex;
}

.playground > ul > li > ul > li{
    width:25px;
    height:25px;
    outline : 1px solid #ccc;
}

.tree{
    background : rgb(73, 92, 255);
}
.bar{
    background : #ee26d3;
}
.zee{
    background : #fc6e5b;
}
.elLeft{
    background : #26f163;
}
.elRight{
    background : #f8803a;
}
.square{
    background : rgb(95, 170, 255);
}

.game-text {
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    position : fixed;
    width: 100%;
    height:100%;
    background : rgba(0,0,0,0.7);
    left:0;
    top:0;
    color : #fff;
    font-size : 50px;
}

.game-text > button {
    padding : 0.5rem 1rem;
    color : #fff;
    background: salmon;
    border : none;
    cursor : pointer; 
}
